body {
  font-family: 'Poppins', sans-serif !important;
  color: black !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh !important;
  margin: 0 !important;
  background-color: #ffffff !important;
}

h1, p, button {
  font-family: 'Poppins', sans-serif !important;
  color: black !important;
  text-align: center !important;
}

button {
  background-color: #317EFB !important;
  color: white !important;
}

button:hover {
  background-color: #255bbf !important;
}
